
:root {
  --color-main-bg: hsl(9 26% 6% / 1);
  --color-secondary: hsl(25 19% 42% / 1);
  --color-primary: hsl(26 19% 62% / 1);
  --color-caption: #b09b8c;
  --color-secondary-bg: var(--color-primary);

  --shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-deep: 0 4px 24px rgba(0, 0, 0, 1);
}

.synth-keyboard {
  border-left: 10px solid var(--color-primary);
  border-right: 10px solid var(--color-primary);

  height: 245px;

  position: relative;

  box-shadow: var(--shadow-deep);

  .keyboard-white-keys {
    display: flex;

    .key {
      flex-grow: 1;
      border: 1px solid var(--color-primary);
      margin-left: -1px;
      background-color: var(--color-main-bg);

      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 15px;

      color: var(--color-caption);

      min-width: 45.8px;

      &:last-child {
        margin-right: -1px;
      }

      height: 245px;
      cursor: pointer;
      //box-shadow: var(--shadow);

      &:hover {
        background-color: var(--color-secondary);
      }

      &:active {
        box-shadow: none;
      }

      &.pressed {
        background-color: var(--color-secondary);
      }
    }
  }

  .keyboard-black-keys {
    position: absolute;
    top: 0;

    .key {
      position: absolute;
      width: 22px;
      height: 146px;
      top: 1px;

      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 15px;

      color: white;
      font-size: 12px;

      background-color: var(--color-primary);

      cursor: pointer;
      box-shadow: var(--shadow);

      &:hover {
        background-color: var(--color-secondary);
      }

      &:active {
        box-shadow: none;
      }

      &.pressed {
        background-color: var(--color-secondary);
      }
    }
  }
}