.wire:hover {
  pointer-events: none;

  .wire-wire {
    opacity: 1;
    transition-delay: 0s;
  }

  .wire-point-wrap {
    pointer-events: none;
    transition-delay: 0s;
  }

  .wire-point {
    pointer-events: none;
    transition-delay: 0s;
  }

}

.wire {
  .wire-wire {
    opacity: var(--wire-opacity);
    transition: opacity 0.1s ease-out;
  }

  .wire-point-wrap {
    opacity: 1;
  }

  .wire-point {
    opacity: 1;
  }
}
